In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4]

In [3]:
for item in map(square, my_nums):
    print(item)

1
4
9
16

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16]

In [5]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [27]:
names = ['Andy', 'Sally', 'Eve']

In [7]:
list(map(splicer, names))

['EVEN', 'S', 'E']

In [8]:
def check_even(num):
    return num % 2 == 0

In [11]:
mynums = [1,2,3,4,5,6]

In [13]:
list(filter(check_even, mynums))

[2, 4, 6]

In [14]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [19]:
square = lambda num: num ** 2

In [21]:
square(5)

25

In [22]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [24]:
list(filter(lambda num:num % 2 == 0, mynums))

[2, 4, 6]

In [28]:
names

['Andy', 'Sally', 'Eve']

In [30]:
list(map(lambda x:x[::-1], names))

['ydnA', 'yllaS', 'evE']